 .homePage {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .search-container {
    width: 100%;
    height: 60px;
    margin: -50px;
    background-color: navy;
    display: flex;
    justify-content: center;
    position: fixed;
   top:40px
    
  }

  .heart-icon {
    font-size: 32px;
  }
  
  .like-text {
    font-size: 20px; 
  }
  
  .heart-icon-container {
    cursor: pointer;
    color: white;
    font-size: 24px; 
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  
  .search-input {
    width: 300px; 
    padding: 10px;
    font-size: 16px;
  }

  .content{
    margin-top: 50px;
  }
  